smartancestry/data/static/data/js/tmp.dot
smartancestry/data/static/data/js/tmp.png
smartancestry/data/media/persons_tree
smartancestry/venv
smartancestry/db.sqlite3
smartancestry/tmp.pdf
smartancestry/ancestry.log
smartancestry/ancestry.pid
smartancestry/bar.log
smartancestry/bar.pid
smartancestry/debug.log
smartancestry/django.log
smartancestry/forms.log
smartancestry/python.log
smartancestry/python.pid
smartancestry/tree.log
smartancestry/tree.pid
smartancestry/vsmartancentry
smartancestry/data/static/data/js/node_modules/.bin
smartancestry/data/static/data/js/node_modules/abbrev
smartancestry/data/static/data/js/node_modules/ansi-regex
smartancestry/data/static/data/js/node_modules/aproba
smartancestry/data/static/data/js/node_modules/are-we-there-yet
smartancestry/data/static/data/js/node_modules/canvas
smartancestry/data/static/data/js/node_modules/balanced-match
smartancestry/data/static/data/js/node_modules/brace-expansion
smartancestry/data/static/data/js/node_modules
smartancestry/data/media/persons
smartancestry/data/media/ancestries
.idea
smartancestry/data/__pycache__
smartancestry/data/templatetags/__pycache__
smartancestry/data/migrations/__pycache__
smartancestry/smartancestry/__pycache__
