/* @import url(http://www.princexml.com/fonts/gentium/index.css); */

/* set headers and footers */

@page {
  size: a4 portrait;
  margin: 1.5cm;
  font: 11pt/1.3 "Helvetica", serif;
}

@page {
  size: a4;
  margin: 2cm;
  font-size: 9pt;
}

@page :left {
  @top-left {
    content: string(head);
    vertical-align: middle;
    font-size: 9pt;
  }

  @bottom-left {
    content: counter(page);
    vertical-align: middle;
    margin: 0.8em 0;
    font-size: 9pt;
  }
}

@page :right {
  @top-right {
    content: string(story-title, last);
    vertical-align: middle;
    margin: 0.8em 0;
    font-size: 9pt;
  }
  @bottom-right {
    content: counter(page);
    vertical-align: middle;
    margin: 0.8em 0;
    font-size: 9pt;
  }
}

@page :first {
  @top-right { content: normal }
  @top-left { content: normal }
  @bottom-right { content: normal }
  @bottom-left { content: normal }
}

@page clean {
  @top-right { content: normal }
  @top-left { content: normal }
  @bottom-right { content: normal }
  @bottom-left { content: normal }
}

:root {
  font: 10pt/1.3 "Helvetica", serif;
}

gutblurb, markupblurb, endblurb {
  display: none;
}

titlepage, acknowledge, toc, item, chapheader, chapter, chapsummary, desc, def, letter, para, sect1, sect2, sect3, sect4, simplesect, blockquote, footnote, note, list, deflist, table, blockgraphic {
  display: block;
}

quote,emph,ital,reference,date,place,name,graphic,misc{
  display: inline;
}

titlepage {
  text-align: center;
}

titlepage img {
  text-align: center;
  padding: 14em 0 0;
}

titlepage date {
  font-size: 0.8em;
  text-align: center;
  padding: 3em 0 0;
  display: block;
}

titlepage title {
  padding: 3em 0 1em;
  font-size: 2em;
  display: block;
}

titlepage subtitle {
  padding: 0em;
  font-size: 1.5em;
  display: block;
  string-set: head content();
}

titlepage, acknowledge, toc, chapter {
  page-break-after: always;
}

acknowledge, toc {
  page: clean;
}

toc list {
	columns: 2;
  	column-gap: 1.5em;
}

toc title, chapter chapheader {
  display: block;
  font-size: 1.4em;
  text-align: center;
  padding: 3em 0 2em;
}

toc item {
	font-size: 0.9em;
}

toc item:after {
  content: leader('.') target-counter(attr(href), page);
}

appendix item {
	display: inline;
}

appendix item:after {
  content: target-counter(attr(href), page);
}

para {
  text-indent: 1em;
  padding-bottom: 2em;
}

chapheader title {
  string-set: story-title content();
  display: block;
}

chapheader + para {
  text-indent: 0;
}

chapnum {
  display: run-in;
}

chapnum:after {
  content: " ";
}

/* custom */

h2 {
	font-size: 1.2em;
  	text-align: center;
  	padding: 1em 0 0.5em;
}

.location {
	height: 16px;
}

.sub-chapter {
	padding-left: 20px;
}

.portait {
	width: 100px;
	height: 100px;
}

.not_breaking {
	page-break-inside: avoid;
}

.timeline {
	list-style: none;
}

/* tables */

table {
	width: 100%;
	border-collapse: collapse;
}

td {
	text-align: left; 
	padding: 3px 5px; 
	vertical-align: middle;

    border-left: 2px solid white;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    
    text-indent: 0em;
}

.row {
	background-color: #ededed;
}

.alternating {
	background-color: #f7f7f7;
}

.label {
	color:#666; 
}

.commalist {
  	display: inline;
  	list-style: none;
  	padding: 0em 0em;
  	margin: 0px;
}

.commalist ul {
	padding: 0em 0em;
	margin: 0px;
}

.commalist li {
  	display: inline;
  	padding: 0em 0em;
  	margin: 0px;
}

.commalist li:after {
  	content: ", ";
}

.commalist li:last-child:after {
    content: "";
}

/* chartjs */
.chartContainer {
	display: block;
}

#birthsPerMonthChart {
	float: left;
}

#birthsPerMonthChartLegend ul {
	float: left;
	width: 10em;
	height: 350px;
	text-indent: 0em;
}

#genderChart {
	float: left;
}

#genderLegend ul {
	float: left;
	width: 10em;
	height: 350px;
	text-indent: 0em;
}

#birthLocationsChart {
	float: left;
}

#birthLocationsLegend ul {
	float: left;
	width: 10em;
	height: 350px;
	text-indent: 0em;
}

#childrenChart {
	float: left;
}

#childrenLegend {
	float: left;
	width: 6em;
	height: 350px;
	text-indent: 0em;
}

/* bar */
.bar-legend {
    width: 6em;
}

.bar-legend li {
	display: inline;
}

.bar-legend .title {
	display: block;
	margin-bottom: 0.5em;
	line-height: 1.2em;
	padding: 0;
	font: 8pt/1.3 "Helvetica", serif;
}

.bar-legend .color1 {
	display: block;
	float: left;
	width: 1em;
	height: 1em;
	border: 1px solid sdf; /* Comment out if you don't want to show the fillColor */
	border-radius: 0.5em; /* Comment out if you prefer squarish samples */
	background-color:#e28955; /*226,137,85*/
	margin-right: 0.5em;
}

.bar-legend .color2 {
	display: block;
	float: left;
	width: 1em;
	height: 1em;
	border: 1px solid sdf; /* Comment out if you don't want to show the fillColor */
	border-radius: 0.5em; /* Comment out if you prefer squarish samples */
	background-color:#e2b855; /*226,184,85*/
	margin-right: 0.5em;
}

/* pie */
.pie-legend {
	width: 8em;
	text-indent: 0em;
}

.pie-legend li {
	display: inline;
}

.pie-legend .title {
	display: block;
	margin-bottom: 0.5em;
	line-height: 1.2em;
	padding: 0;
	font: 8pt/1.3 "Helvetica", serif;
}

.pie-legend .color1 {
	display: block;
	float: left;
	width: 1em;
	height: 1em;
	border: 1px solid sdf; /* Comment out if you don't want to show the fillColor */
	border-radius: 0.5em; /* Comment out if you prefer squarish samples */
	margin-right: 0.5em;
	background-color:#e28955;
}

.pie-legend .color2 {
	display: block;
	float: left;
	width: 1em;
	height: 1em;
	border: 1px solid sdf; /* Comment out if you don't want to show the fillColor */
	border-radius: 0.5em; /* Comment out if you prefer squarish samples */
	margin-right: 0.5em;
	background-color:#e2b855;
}

.pie-legend .color {
	display: block;
	float: left;
	width: 1em;
	height: 1em;
	border: 1px solid sdf; /* Comment out if you don't want to show the fillColor */
	border-radius: 0.5em; /* Comment out if you prefer squarish samples */
	margin-right: 0.5em;
}

.pie-legend .color-e28955 {
	background-color:#e28955;
}

.pie-legend .color-e2b855 {
	background-color:#e2b855;
}

.pie-legend .color-dde255 {
	background-color:#dde255;
}

.pie-legend .color-aee255 {
	background-color:#aee255;
}

.pie-legend .color-7fe255 {
	background-color:#7fe255;
}

.pie-legend .color-55e25a {
	background-color:#55e25a;
}

.pie-legend .color-55e289 {
	background-color:#55e289;
}

.pie-legend .color-55e2b8 {
	background-color:#55e2b8;
}

.pie-legend .color-55dde2 {
	background-color:#55dde2;
}

.pie-legend .color-55aee2 {
	background-color:#55aee2;
}

.pie-legend .color-557fe2 {
	background-color:#557fe2;
}

/* distribution */

.distribution {
	display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 650px;
    max-height: 850px;
}

.document {
	display: block;
    margin-left: auto;
    margin-right: auto;
    
    max-width: 650px;
    max-height: 650px;
}

.nolink {
	text-decoration: none;
	text-underline: none;
	color: #000;
}