/* @import url(http://www.princexml.com/fonts/gentium/index.css); */

/* set headers and footers */

@page {
  size: a4 portrait;
  margin: 1.5cm;
  font: 11pt/1.3 "Euphemia UCAS";
}

@page {
  size: a4;
  margin: 2cm;
  font-size: 9pt;
}

@page :left {
  @top-left {
    content: string(head);
    vertical-align: middle;
    font-size: 9pt;
  }

  @bottom-left {
    content: counter(page);
    vertical-align: middle;
    margin: 0.8em 0;
    font-size: 9pt;
  }
}

@page :right {
  @top-right {
    content: string(story-title, last);
    vertical-align: middle;
    margin: 0.8em 0;
    font-size: 9pt;
  }
  @bottom-right {
    content: counter(page);
    vertical-align: middle;
    margin: 0.8em 0;
    font-size: 9pt;
  }
}

@page :first {
  @top-right { content: normal }
  @top-left { content: normal }
  @bottom-right { content: normal }
  @bottom-left { content: normal }
}

@page clean {
  @top-right { content: normal }
  @top-left { content: normal }
  @bottom-right { content: normal }
  @bottom-left { content: normal }
}

:root {
  font: 10pt/1.3 "Euphemia UCAS";
}

gutblurb, markupblurb, endblurb {
  display: none;
}

titlepage, acknowledge, toc, item, chapheader, chapter, chapsummary, desc, def, letter, para, sect1, sect2, sect3, sect4, simplesect, blockquote, footnote, note, list, deflist, table, blockgraphic {
  display: block;
}

quote,emph,ital,reference,date,place,name,graphic,misc{
  display: inline;
}

titlepage {
  text-align: center;
}

titlepage img {
  text-align: center;
  padding: 14em 0 0;
}

titlepage date {
  font-size: 0.8em;
  text-align: center;
  padding: 3em 0 0;
  display: block;
}

titlepage title {
  padding: 3em 0 1em;
  font-size: 2em;
  display: block;
}

titlepage subtitle {
  padding: 0em;
  font-size: 1.5em;
  display: block;
  string-set: head content();
}

titlepage, acknowledge, toc, chapter {
  page-break-after: always;
}

acknowledge, toc {
  page: clean;
}

toc list {
	columns: 2;
  	column-gap: 1.5em;
}

toc title, chapter chapheader {
  display: block;
  font-size: 1.4em;
  text-align: center;
  padding: 3em 0 2em;
}

toc item {
	font-size: 0.9em;
}

toc item:after {
  content: leader('.') target-counter(attr(href), page);
}

appendix item {
	display: inline;
}

appendix item:after {
  content: target-counter(attr(href), page);
}

para {
  text-indent: 1em;
  padding-bottom: 2em;
  clear: left;
}

chapheader title {
  string-set: story-title content();
  display: block;
}

chapheader + para {
  text-indent: 0;
}

chapnum {
  display: run-in;
}

chapnum:after {
  content: " ";
}

/* custom */

h2 {
	font-size: 1.2em;
  	text-align: center;
  	padding: 1em 0 0.5em;
}

h3 {
	font-size: 1.0em;
  	text-align: center;
}

.location {
	height: 14px;
}

.sub-chapter {
	padding-left: 20px;
}

.portait {
	width: 100px;
	height: 100px;
}

.not_breaking {
	page-break-inside: avoid;
	text-align: center;
}

.timeline {
	page-break-inside: avoid;
}

.small {
	font-size: 1px;
}

.timeline {
	list-style: none;
}

/* tables */

table {
	width: 100%;
	border-collapse: collapse;
}

td {
	text-align: left; 
	padding: 3px 5px; 
	vertical-align: middle;

    border-left: 2px solid white;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    
    text-indent: 0em;
}

.portrait {
	text-align: center; 
}

.pngcontainer {
	text-align: center; 
  	position: relative;
  	height: 116px;
	width: 116px;
}

.portait_person, .portait_template, .portait_died {
	position: absolute;
}

.portait_person, .portait_template {
	z-index: 100;
	top: 3px;
  	left: 3px;
	max-height: 110px;
	max-width: 110px;
	border: 1px solid #666;
}

.portait_died {
	z-index: 101;
	top: 0px;
  	left: 0px;
	height: 116px;
	width: 116px;
}

.row {
	background-color: #ededed;
}

.question_table {
    table-layout: fixed;
    border: 1px;
}

.question_table tr td:first-child {
    width: 30%;
    vertical-align: top;
}

.alternating {
	background-color: #f7f7f7;
}

.label {
	color:#666; 
}

.commalist {
  	display: inline;
  	list-style: none;
  	padding: 0em 0em;
  	margin: 0px;
}

.commalist ul {
	padding: 0em 0em;
	margin: 0px;
}

.commalist li {
  	display: inline;
  	padding: 0em 0em;
  	margin: 0px;
}

.commalist li:after {
  	content: ", ";
}

.commalist li:last-child:after {
    content: "";
}

/* chartjs */
.chartContainer {
	display: inline-block;
    text-align: center;
}

#birthsPerMonthChart {
	display: block;
	margin: auto;
}

#birthsPerMonthChartLegend {
	
}

#birthsPerMonthChartLegend ul {
	float: left;
	text-indent: 0em;
	margin: 0px;
}

#genderChart {
	display: block;
	margin: auto;
	padding-bottom: 5px;
}

#genderLegend {
	
}

#genderLegend ul {
	text-indent: 0em;
}

#birthLocationsChart {
	display: block;
	margin: auto;
	padding-bottom: 5px;
}

#birthLocationsLegend {
    padding-left: 50px;
    padding-right: 50px;
}

#birthLocationsLegend ul {
	float: left;
	text-indent: 0em;
	margin: 0px;
	/* padding-inline-start: 0; */
}

.chartBorder {
	border: 1px solid #666;
	padding: 10px;
	display: inline-block;
	max-width: 660px;
}

#childrenChart {
	display: block;
	margin: auto;
	padding-bottom: 5px;
}

#childrenLegend {
	margin-top: -10px;
}

.chartDescription {
	text-indent: 0em;
}

/* bar */
.bar-legend {
    /*width: 200px;*/
}

.bar-legend li {
	display: inline;
	width: 180px;
	float: left;
}

.bar-legend .title {
	display: block;
	margin-bottom: 0.5em;
	line-height: 1.2em;
	padding: 0;
	font: 8pt/1.3 "Euphemia UCAS";
	float: left;
}

.bar-legend .color1 {
	display: block;
	float: left;
	width: 1em;
	height: 1em;
	border: 1px solid sdf; /* Comment out if you don't want to show the fillColor */
	border-radius: 0.5em; /* Comment out if you prefer squarish samples */
	background-color: #e28955; /*226,137,85*/
	margin-right: 0.5em;
}

.bar-legend .color2 {
	display: block;
	float: left;
	width: 1em;
	height: 1em;
	border: 1px solid sdf; /* Comment out if you don't want to show the fillColor */
	border-radius: 0.5em; /* Comment out if you prefer squarish samples */
	background-color:#e2b855; /*226,184,85*/
	margin-right: 0.5em;
}

/* pie */
.pie-legend {
	text-indent: 0em;
}

.pie-legend li {
	width: 180px;
	display: inline-block;
	text-align: center;
}

.pie-legend .title {
	display: block;
	margin-bottom: 0.5em;
	line-height: 1.2em;
	padding: 0;
	font: 8pt/1.3 "Euphemia UCAS";
	float: left;
}

.pie-legend .color1 {
	display: block;
	float: left;
	width: 1em;
	height: 1em;
	border: 1px solid sdf; /* Comment out if you don't want to show the fillColor */
	border-radius: 0.5em; /* Comment out if you prefer squarish samples */
	margin-right: 0.5em;
	background-color:#e28955;
}

.pie-legend .color2 {
	display: block;
	float: left;
	width: 1em;
	height: 1em;
	border: 1px solid sdf; /* Comment out if you don't want to show the fillColor */
	border-radius: 0.5em; /* Comment out if you prefer squarish samples */
	margin-right: 0.5em;
	background-color:#e2b855;
}

.pie-legend .color {
	display: block;
	float: left;
	width: 1em;
	height: 1em;
	border: 1px solid sdf; /* Comment out if you don't want to show the fillColor */
	border-radius: 0.5em; /* Comment out if you prefer squarish samples */
	margin-right: 0.5em;
}

.pie-legend .color-e28955 {
	background-color:#e28955;
}

.pie-legend .color-e2b855 {
	background-color:#e2b855;
}

.pie-legend .color-dde255 {
	background-color:#dde255;
}

.pie-legend .color-aee255 {
	background-color:#aee255;
}

.pie-legend .color-7fe255 {
	background-color:#7fe255;
}

.pie-legend .color-55e25a {
	background-color:#55e25a;
}

.pie-legend .color-55e289 {
	background-color:#55e289;
}

.pie-legend .color-55e2b8 {
	background-color:#55e2b8;
}

.pie-legend .color-55dde2 {
	background-color:#55dde2;
}

.pie-legend .color-55aee2 {
	background-color:#55aee2;
}

.pie-legend .color-557fe2 {
	background-color:#557fe2;
}

/* distribution */

.distribution {
	display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 630px;
    max-height: 830px;
}

.document {
	display: block;
	padding: 10px;
    margin-left: auto;
    margin-right: auto;
    
    max-width: 630px;
    max-height: 800px;
}

/* rotate landscape documents */
.landscape {
	/*-webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);*/
    
    transform: rotate(-90deg) translate(-100%, 15%);
	transform-origin: 0 0;
}

.nolink {
	text-decoration: none;
	text-underline: none;
	color: #000;
}

/* history */
*, :after, :before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}
.personViewPages {
    margin-bottom: -20px;
    position: relative;
    background-color: #f5f5f5;
}
.personViewPages .personPage {
    padding: 10px;
}
.personPageStory {
    position: relative;
    z-index: 2;
}
.personPageStory .lifeStory {
    margin: 0 auto;
    max-width: 950px;
    padding: 0 100px;
    position: relative;
    z-index: 1;
}
.personPageStory .lifeStory .lifeStorySec+.lifeStorySec {
    margin-top: 30px;
    padding: 0px;
}
.storyline {
    box-sizing: border-box;
}
.personPageStory .lifeStory .lifeStorySec {
    position: relative;
    padding-bottom: 20px;
}
.lifeStoryMap {
    cursor: default;
    max-width: 1024px;
    z-index: 1;
}
.con:not(.bgDark), .conSecond:not(.bgDark) {
    background-color: #fff;
}
.conHasArrow {
    position: relative;
}
.con, .conSecond, .conThird {
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 6px;
    padding: 10px;
}
.conBody {
    margin: 0px;
    padding: 0px;
    position: relative;
    text-align: left;
    text-indent: 0px;
}
.conTitle {
    margin: 0px;
    margin-top: 0px;
    padding: 0px;
    text-align: left;
    text-indent: 0px;
}
.hideVisually:not(:focus), .screenReaderText {
    height: 1px!important;
    line-height: 2em;
    margin: -1px;
    opacity: 0;
    overflow: hidden!important;
    position: absolute!important;
    width: 1px!important;
}
.lifeStory .mapFigure, .lifeStory .mediaFigureMap {
    display: block;
    margin: 0px;
    padding: 0px;
    position: relative;
    z-index: 1;
}
.lifeStory .mapFigure {
    box-sizing: border-box;
}
.conHasArrow[class*=conHasArrowLeft] .conArrow {
    border-top: 0;
    border-top-right-radius: 100%;
    left: -7px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    background-color: white;
}
.conHasArrowLeftTop .conArrow {
    top: 18px;
}
.conArrow {
    border: inherit;
    -webkit-box-shadow: inherit;
    box-shadow: inherit;
    height: 14px;
    outline: inherit;
    position: absolute;
    width: 14px;
}
.conHasArrow[class*=conHasArrowLeft] .conArrow:after {
    border-bottom-right-radius: 8px 14px;
    border-top-right-radius: 8px 14px;
    left: 6px;
    top: -10px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.conArrow:after {
    background-color: inherit;
    content: "";
    display: block;
    height: 28px;
    position: absolute;
    width: 9px;
}
.personViewPages .lifeStory .storylineBullet.storylineBulletSize1.icon::before {
    font-size: 18px;
}
.storylineBullet.storylineBulletSize1.icon:before {
    font-size: 10px;
}
.storylineBullet.icon:before {
    color: #f5f5f5;
    font-size: 14px;
    height: 1em;
    left: 50%;
    line-height: 1em;
    margin: -.5em 0 0 -.5em;
    position: absolute;
    top: 50%;
    width: 1em;
}
.icon:empty:before {
    margin-right: 0;
}
.iconMap:before {
    content: "\e67b";
}
.icon:before, span.icon {
    margin-right: .25em;
}
.icon:before, .iconAfter:after {
    font: normal 100%/0 ancestry-icon;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    position: relative;
    speak: none;
    text-transform: none;
    top: .12em;
}
.personViewPages .lifeStory .storylineHasTrail::after {
    /* height: calc(100% + 30px); */
}
.personViewPages .lifeStory .storylineHasTrail::after {
    top: 59px;
    height: 80px;
}
.personViewPages .lifeStory .lifeStorySec.lifeStoryEvent.storylineHasTrail::after {
    top: 59px;
    height: 88px;
}
.personViewPages .lifeStory .lifeStoryMap.storylineHasTrail::after {
    top: 59px;
    height: 120px;
    /* height: calc(100% + 10px); */
}
.storylineHasTrail:after {
    background-color: #584d70;
    content: "";
    display: block;
    height: 80px; /* calc(100%+10px); */
    left: -62px;
    position: absolute;
    top: 69px;
    width: 4px;
    z-index: 1;
    margin: 0px;
    padding: 0px;
}
.showMapModal {
    height: 140px; /*248px;*/
    width: 400px; /*708px;*/
}
.staticMap {
    height: 140px; /*248px;*/
    width: 400px; /*708px;*/
}
.storylineBulletHasText {
    color: #fff;
    display: table;
    text-align: center;
    text-transform: uppercase;
}
.storylineBullet {
    background-color: #584d70;
    border-radius: 50%;
    cursor: default;
    height: 70px;
    left: -95px;
    position: absolute;
    top: -10px;
    width: 70px;
    z-index: 2;
}
.storylineBulletHasText .storylineBulletText {
    display: table-cell;
    vertical-align: middle;
}
.storylineBulletHasText .storylineBulletSubtitle {
    display: block;
    font-size: 10px;
    text-indent: 0px;
    margin: 0px;
}
.storylineBulletHasText .storylineBulletSubtitle+.storylineBulletTitle {
    margin-top: -2px;
}
.storylineBulletHasText .storylineBulletTitle {
    display: block;
    font-size: 18px;
    font-weight: 700;
    text-indent: 0px;
    margin: 0px;
}
.lifeStoryEvents .timelineItem .storyContent .textEditable {
    text-align: left;
    text-shadow: none;
}
.lifeStoryEvents .timelineItem .storyContent .storyNarr {
    font-size: 16px;
}
.cardSubtitle, .cardTitle {
    margin-top: 0;
}
.cardTitle {
    font-size: 12px;
    font-weight: 700;
    margin: 0px;
}
.topSpacing {
    margin-top: 10px!important;
}