{% load i18n %}
{% load app_filters %}
<book>
<frontmatter>
<titlepage>
<title>{{ ancestry.name }}</title>
{% if ancestry.image %}
	<img src="{{ MEDIA_URL }}..{{ ancestry.image.url }}" alt="Img" width="205"><br />
{% else %}
	<img src="" alt="Img" height="237" width="205"><br />
{% endif %}
BY
<author>I. &amp; M. Rommel</author>

</titlepage>

<acknowledge>A project of I. &amp; M. Rommel</acknowledge>

<toc>
<title>Contents</title>
<list class="toc">
<item href="#chapter1">1. {% trans "Members" %}</item>
{% if sorted_members %}
	{% for member in sorted_members %}
		<item href="#chapter1-{{ member.person.id }}" class="sub-chapter">{{ member.person.last_name }}, {{ member.person.first_name|underline }}</item>
	{% endfor %}
{% endif %}
<item href="#chapter2">2. {% trans "Timeline" %}</item>
<item href="#chapter3">3. {% trans "Statistics" %}</item>
</list>
</toc>

</frontmatter>
<bookbody>
<part>

<chapter id="chapter1">

<chapheader>
<chapnum>1. </chapnum>
<title>{% trans "Members" %}</title>
</chapheader>

{% if member_list %}
	{% for member in member_list %}
		<para>
			<table>
				<tr>
					<td width="20%" rowspan="5">
						{% if member.person.image %}
							<img src="{{ MEDIA_URL }}..{{ member.person.image.url }}" alt="Img" class="portait">
						{% else %}
							<img src="" alt="Img" class="portait">
						{% endif %}
					</td>
					<td width="20%">
						{% trans "Last name" %}:
					</td>
					<td width="20%" colspan="3">
						{{ member.person.last_name }}<a id="chapter1-{{ member.person.id }}">&nbsp;</a>
						{% if member.person.age %}
							({{ member.person.age }} {% trans "Years" %})
						{% endif %}
					</td>
				</tr>
				<tr>
					<td width="20%">{% trans "First name" %}:</td>
					<td colspan="3">{{ member.person.first_name|underline }}</td>
				</tr>
				<tr>
					<td width="20%">{% trans "Birth name" %}:</td>
					<td colspan="3">{{ member.person.birth_name }}</td>
				</tr>
				<tr>
					<td width="20%">{% trans "Birth date" %}:</td>
					<td width="20%">{{ member.person.birth_date }}</td>
					<td width="20%">{% trans "Birth place" %}:</td>
					<td width="20%">
						{% if member.person.birth_location %}
							{% if member.person.birth_location.image %}
								<img src="{{ MEDIA_URL }}..{{ member.person.birth_location.image.url }}" class="location" />
							{% endif %}
							&nbsp;{{ member.person.birth_location|location_without_country }}
						{% endif %}
					</td>
				</tr>
				<tr>
					<td width="20%">{% trans "Death date" %}:</td>
					<td width="20%">
						{% if member.person.death_date %}
							{{ member.person.death_date }}
						{% endif %}
					</td>
					<td width="20%">{% trans "Death place" %}:</td>
					<td width="20%">
						{% if member.person.death_location %}
							{% if member.person.death_location.image %}
								<img src="{{ MEDIA_URL }}..{{ member.person.death_location.image.url }}" class="location" />
							{% endif %}
							&nbsp;{{ member.person.death_location|location_without_country }}
						{% endif %}
					</td>
				</tr>
			</table>
			<table>
				<tr>
					<td width="25%">{% trans "Profession" %}:</td>
					<td width="25%" colspan="3">{% if member.person.profession %}{{ member.person.profession }}{% endif %}</td>
				</tr>
				<tr>
					<td width="25%">{% trans "Wife" %}:</td>
					<td width="25%"></td>
					<td width="25%">{% trans "Marriage" %}:</td>
					<td width="25%"></td>
				</tr>
				<tr>
					<td width="25%">{% trans "Father" %}:</td>
					<td width="25%"></td>
					<td width="25%">{% trans "Mother" %}:</td>
					<td width="25%"></td>
				</tr>
				<tr>
					<td width="25%">{% trans "Children" %}:</td>
					<td width="25%" colspan="3"></td>
				</tr>
				<tr>
					<td width="25%">{% trans "Siblings" %}:</td>
					<td width="25%" colspan="3"></td>
				</tr>
			</table>			
		</para>
	{% endfor %}
{% else %}
	<para>{% trans "No members are available." %}</para>
{% endif %}

</chapter>

<!-- Chapter 2 -->

<chapter id="chapter2">

<chapheader>
<chapnum>2. </chapnum>
<title>{% trans "Timeline" %}</title>
</chapheader>

<para>

{% for timeline_entry in ancestry.timeline %}
	<li><strong>{{ timeline_entry.year }}</strong>
		<ul>
			{% for timeline_entry_inner in timeline_entry.list %}
				<li>{{ timeline_entry_inner.date }} {{ timeline_entry_inner.title }}</li>
			{% endfor %}
		</ul>
	</li>
{% endfor %}

</para>

</chapter>

<!-- Chapter 3 -->

<chapter id="chapter3">

<chapheader>
<chapnum>3. </chapnum>
<title>{% trans "Statistics" %}</title>
</chapheader>

<para>

<h2>{% trans "Specials" %}</h2>
<table>
	{% for special in statistics.specials.list %}
		<tr><td>{{ special.name_prefix }}</td><td>{{ special.name_suffix }}</td><td>{{ special.value }}</td></tr>
	{% endfor %}
</table>

</para>

</chapter>

<!-- Chapter ... -->

</part>
</bookbody>
</book>
</gutbook>
