{% load i18n %}{% load staticfiles %}{% load app_filters %}
{% if include_css %}
<link rel="stylesheet" type="text/css" href="{% static 'data/style_print.css' %}" />
{% endif %}
<book>

<title>{% trans "Questions" %} {% trans "Ancestrybook" %} {{ ancestry.name }}</title>

<bookbody>
<part>

<chapter id="chapter1">

<chapheader>
<chapnum></chapnum>
<title>{% trans "Questions" %} {% trans "Ancestrybook" %} {{ ancestry.name }}</title>
<a id="chapter1" class="small">&nbsp;</a>
</chapheader>

<!-- fake table -->
<para><table><tr><td></td></tr></table></para>

{% if sorted_members %}
	{% for member in sorted_members %}
		{% if member.person.questions|length > 0 or member.person.automatic_questions|length > 0 %}
			<!-- {{ member.person.last_name|underline }}, {{ member.person.first_name|underline }} -->

			<para>
				<div class="not_breaking">
					<table class="question_table">
						<tbody>
						<tr class="{% cycle 'row' 'alternating' as row_style %}">
							<td colspan="2">
								<strong>{{ member.person.last_name|underline }}, {{ member.person.first_name|underline }}</strong>
								{% if member.person.person.birth_name %}<br />(geb. {{ member.person.person.birth_name }}){% endif %}
							</td>
						</tr>
						{% if not member.person.birth_date_unclear %}
							<tr class="{% cycle row_style %}">
								<td>
									geb.
									{% if member.person.birth_date_only_year %}
										{{ member.person.birth_date | date:"Y" }}
									{% else %}
										{{ member.person.birth_date | date:"d.m.Y" }}
									{% endif %}
									{% if member.person.birth_location %}
										{% trans "in" %}
										{% if member.person.birth_location.image %}
											<img src="/{{ MEDIA_URL }}..{{ member.person.birth_location.image.url }}" class="location" />
										{% endif %}
										{{ member.person.birth_location|location_without_country }}
									{% endif %}
								</td>
							</tr>
						{% endif %}

						{% for question in member.person.questions %}
							<tr class="{% cycle row_style %}">
								<td>
									{{ question.question }}
								</td>
								<td>
									&nbsp;<br />
									&nbsp;<br />
									&nbsp;<br />
									&nbsp;<br />
								</td>
							</tr>
						{% endfor %}

						{% for question in member.person.automatic_questions %}
							<tr class="{% cycle row_style %}">
								<td>
									{% autoescape off %}
    									{{ question }}
									{% endautoescape %}
								</td>
								<td>
									&nbsp;<br />
									&nbsp;<br />
									&nbsp;<br />
									&nbsp;<br />
								</td>
							</tr>
						{% endfor %}
						</tbody>
					</table>
				</div>
			</para>
		{% endif %}

		{# resetcycle #}
	{% endfor %}
{% endif %}
</chapter>

</part>
</bookbody>
</book>
</gutbook>
