{% load i18n %}
{% load app_filters %}
digraph G {
	nodesep=.05;
	rankdir=LR;
	node [shape=record, width=3.5, height=.1, color=lightgrey, style=filled];

	{% for relative in relatives.relatives %}
	"node-{{ relative.person.id }}" [
		label="{{ relative.person.first_name_short }} {{ relative.person.last_name }}|<f0>{% if relative.person.birth_date_only_year %}{{ relative.person.birth_date | date:"Y" }}{% else %}{{ relative.person.birth_date | date:"d.m.Y" }}{% endif %} {% if relative.person.birth_location %}{{ relative.person.birth_location|location_without_country }}{% endif %}|{% if relative.person.death_date_only_year %}{{ relative.person.death_date | date:"Y" }}{% else %}{{ relative.person.death_date | date:"d.m.Y" }}{% endif %} {% if relative.person.death_location %}{{ relative.person.death_location|location_without_country }}{% endif %}"
		shape = "record"
	];{% endfor %}
  	{% for relation in relatives.relations %}
  	"node-{{ relation.source }}":f0 -> "node-{{ relation.destination }}":f0;{% endfor %}
}
