{% extends "base.html" %}

{% load staticfiles %}
{% load i18n %}

{% block nav-home %}<li class="active"><a href="/data/index">{% trans "Home" %}</a></li>{% endblock %}

{% block title %}Home{% endblock %}

{% block content %}
<div id="highlight">
	<div class="clearfix">
		<br />
		<div class="frame2">
			<div class="box">
				<img src="{% static 'data/images/thumb-up.jpg' %}" alt="Img" height="298" width="924">
			</div>
		</div>
	</div>
</div>
<div class="highlight">
	<div class="clearfix">
		<div class="testimonial">
			<h2>Testimonials</h2>
			<p>
				&ldquo;Aenean ullamcorper purus vitae nisl tristique sollicitudin. Quisque vestibulum, erat ornare.&rdquo;
			</p>
			<span>-John Doe and Jane Doe-</span>
		</div>
		<h1>The Manes Winchester Promise</h1>
		<p>
			This website template has been designed by <a href="http://www.freewebsitetemplates.com/">Free Website Templates</a> for you, for free. You can replace all this text with your own text. You can remove any link to our website from this website template, you're free to use this website template without linking back to us. If you're having problems editing this website template, then don't hesitate to ask for help on the <a href="http://www.freewebsitetemplates.com/forums/">Forums</a>.
		</p>
	</div>
</div>
<div class="featured">
	<h2>{% trans "Ancestries" %}</h2>
	<ul class="clearfix">
		<li>
			<div class="frame1">
				<div class="box">
					<img src="{% static 'data/images/meeting.jpg' %}" alt="Img" height="130" width="197">
				</div>
			</div>
			<p>
				<b>Our lawyers</b> Our website templates are created with inspiration, checked for quality and originality.
			</p>
			<a href="index.html" class="more">Read More</a>
		</li>
		<li>
			<div class="frame1">
				<div class="box">
					<img src="{% static 'data/images/handshake.jpg' %}" alt="Img" height="130" width="197">
				</div>
			</div>
			<p>
				<b>get to know us more</b> Just browse through all our Free Website Templates and ﬁnd what you’re looking for.
			</p>
			<a href="index.html" class="more">Read More</a>
		</li>
		<li>
			<div class="frame1">
				<div class="box">
					<img src="{% static 'data/images/smile.jpg' %}" alt="Img" height="130" width="197">
				</div>
			</div>
			<p>
				<b>what we offer</b> Join the discussion on our forum and meet other people in the community.
			</p>
			<a href="index.html" class="more">Read More</a>
		</li>
		<li>
			<div class="frame1">
				<div class="box">
					<img src="{% static 'data/images/family-small.jpg' %}" alt="Img" height="130" width="197">
				</div>
			</div>
			<p>
				<b>get in touch with us</b> And we love the challenge of doing something diferent and something special.
			</p>
			<a href="index.html" class="more">Read More</a>
		</li>
	</ul>
</div>

{% endblock %}