{% extends "base.html" %}

{% block title %}Location{% endblock %}

{% block nav-persons %}<li class="active"><a href="/data/persons">Persons</a></li>{% endblock %}

{% block content %}

		<div class="clearfix">
			<div class="sidebar" style="width:550px;">
				<div class="images">
					{% if location.image %}
						<img src="{{ MEDIA_URL }}..{{ location.image.url }}" alt="Img" width="205">
					{% else %}
						<img src="" alt="Img" height="237" width="205">
					{% endif %}
				</div>
				<div class="details" style="width: 310px;">
					<h2>{{ location }}</h2>
					
					<p>
						{% if member_list %}
    						<ul>
    						{% for person in member_list %}
        						<li><a href="/data/person/{{ person.id }}/" class="link">{{ person }}</a></li>
    						{% endfor %}
    						</ul>
						{% else %}
    						No persons are available.
						{% endif %}
					</p>
				</div>
			</div>
			<div class="main" style="width:250px;">
				<div>
					<h2>Locations</h2>
					{% if locations %}
    					<ul>
    					{% for location in locations %}
        					<li><a href="/data/location/{{ location.id }}/" class="link" style="display: inline-flex;">
        						{% if location.image %}
									<img src="{{ MEDIA_URL }}..{{ location.image.url }}" height="16" />
								{% endif %}
        						{{ location }}
        						</a>
        					</li>
    					{% endfor %}
    					</ul>
					{% else %}
    					No Locations are available.
					{% endif %}
				</div>
			</div>
		</div>

{% endblock %}