{% extends "base.html" %}

{% load i18n %}
{% load app_filters %}

{% block title %}Person{% endblock %}

{% block nav-persons %}<li class="active"><a href="/data/persons">{% trans "Persons" %}</a></li>{% endblock %}

{% block scripts %}

<style>
  	#familyTreeContainer {
		height: 1160px;
		
		background-color: #FFFFFF;
		width: 940px;
		margin: 0 auto 24px;
		padding: 0 10px;
  	}
  	
  	.person {
  		float: left;
  		background-color: #FFFFFF;
  		border: 1px solid black;
  		width: 100px;
  		height: 40px;
  	}
  	
  	.parent {
  		margin-left: 10px;
  	}
  	
  	.current {
  		margin-left: 150px;
  	}
</style>

<script src="/static/data/ancestryTree.js"></script>

{% endblock %}

{% block content %}
	<div class="highlight">
		<div class="clearfix">
			<div class="sidebar" style="width:600px;">
				<div class="images">
					{% if person.image %}
						<img src="/{{ MEDIA_URL }}..{{ person.image.url }}" alt="Img" width="205">
					{% else %}
						<img src="/static/data/images/avatar_{{ person.sex}}.png" alt="Img{{ member.person.sex}}" width="205">
					{% endif %}
				</div>
				<div class="details">
					<p class="info">
						* {{ person.birth_date }} 
						{% if person.birth_location %}
							- <a href="/data/location/{{ person.birth_location.id }}/" class="link" style="display: inline-flex;">
							{% if person.birth_location.image %}
								<img src="{{ MEDIA_URL }}..{{ person.birth_location.image.url }}" height="16" />
							{% endif %}
							&nbsp;{{ person.birth_location }}</a>
						{% endif %}
						<br />
						{% if person.death_date %}
							+ {{ person.death_date }}
							{% if person.death_location %}
								- <a href="/data/location/{{ person.death_location.id }}/" class="link" style="display: inline-flex;">
								{% if person.death_location.image %}
									<img src="{{ MEDIA_URL }}..{{ person.death_location.image.url }}" height="16" />
								{% endif %}
								&nbsp;{{ person.death_location }}</a>
							{% endif %}
						{% endif %}	
					</p>
					<h2>{{ person }}</h2>
					
					<p>{% trans "Age" %}: {{ person.age }}</p>
					
					{% if person.partner_relations %}
						<ul>
						{% for partner_relation in person.partner_relations %}
							{% if partner_relation.partner %}
								<li>{{ partner_relation.status }}: <a href="/data/person/{{ partner_relation.partner.id }}/" class="link">{{ partner_relation.partner }}</a> 
								{% if partner_relation.location %}
									@ {{ partner_relation.location }} {{ partner_relation.date }}
								{% endif %}
								</li>
							{% else %}
								<li>{{ partner_relation.status }}: {{ partner_relation.partner_name }} @ {{ partner_relation.location }} {{ partner_relation.date }}</li>
							{% endif %}
						{% endfor %}
						</ul>
					{% else %}
						<p>{% trans "Not married" %}</p>
					{% endif %}
					
					<p>
						{% if person.father %}
							{% trans "Father" %}: <a href="/data/person/{{ person.father.id }}/" class="link">{{ person.father }}</a><br />
						{% else %}
							{% trans "Father" %}: {{ person.father_extern }}<br />
						{% endif %}
						
						{% if person.mother %}
							{% trans "Mother" %}: <a href="/data/person/{{ person.mother.id }}/" class="link">{{ person.mother }}</a>
						{% else %}
							{% trans "Mother" %}: {{ person.mother_extern }}<br />
						{% endif %}
					</p>
					
					{% if person.profession %}
						<p>{% trans "Profession" %}: {{ person.profession }}</p>
					{% endif %}
					
					<h3>{% trans "Children" %}:</h3>
					<p>
						<ul>
						{% if person.children %}
    						{% for child in person.children %}
        						<li><a href="/data/person/{{ child.id }}/" class="link">{{ child }}</a></li>
    						{% endfor %}
						{% else %}
							{% if person.children_extern_list %}
								{% for child in person.children_extern_list %}
        							<li>{{ child }}</li>
    							{% endfor %}
							{% else %}
    							<li>{% trans "No child are available." %}</li>
    						{% endif %}
						{% endif %}
						</ul>
					</p>
					<h3>{% trans "Siblings" %}:</h3>
					<p>
						<ul>
						{% if person.siblings %}
    						{% for child in person.siblings %}
        						<li><a href="/data/person/{{ child.id }}/" class="link">{{ child }}</a></li>
    						{% endfor %}
						{% else %}
							{% if person.siblings_extern_list %}
								{% for child in person.siblings_extern_list %}
        							<li>{{ child }}</li>
    							{% endfor %}
							{% else %}
    							<li>{% trans "No sibling are available." %}</li>
    						{% endif %}
						{% endif %}
						</ul>
					</p>
					
					<h3>{% trans "Ancestries" %}:</h3>
					<p>
						{% if person.ancestries %}
    						<ul>
    						{% for ancestry in person.ancestries %}
        						<li><a href="/data/ancestry/{{ ancestry.ancestry.id }}/{{ ancestry.ancestry.name }}" class="link">{{ ancestry.ancestry.name }}</a></li>
    						{% endfor %}
    						</ul>
						{% else %}
    						<strong>{% trans "No ancestries are available." %}</strong>
						{% endif %}
					</p>
					<p>
						{{ person.notes }}
					</p>
				</div>
			</div>
			
		</div>
		<div class="featured">
		
			<h2><a name="tree">{% trans "Family tree" %}</a></h2>

			<div>
				<img src="/data/person/tree_image/{{ person.id }}/8/tree.png" class="distribution landscape" />
			</div>
		</div>
	</div>

{% endblock %}